<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>داشبرد فرهنگیان</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="0;URL='https://bi.cfu.ac.ir/logout'" />
</head>
<body>
    <!-- <div class="container"> -->
<!-- templates/profile.html -->
<!-- <h1>Welcome, {{ user["name"] }}</h1>
<p>Email: {{ user["email"] }}</p>
<p>Username: {{ user["preferred_username"] }}</p> -->
<!-- Customize based on actual fields returned from your SSO server -->
<!-- <hr/>
<h2>User Profile</h2>
<pre>{{ user | tojson(indent=2) }}</pre>
<hr/>

        <h1>پروفایل کاربر</h1>

        {% if user %}
            {% for key, value in user.items() %}
                <div class="profile-item">
                    <span class="label">{{ key }}:</span>
                    <span class="value">{{ value }}</span>
                </div>
            {% endfor %}
        {% else %}
            <p>اطلاعات کاربر یافت نشد.</p>
        {% endif %}
        <a href="{{ url_for('logout') }}" class="logout-btn">خروج</a>
    </div>
     -->
<script>
    window.location.replace("{{ url_for('logout') }}");
</script>
</body>
</html>
